.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  .header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    .notebook {
      color: grey;
    }
    .icon {
      color: grey;
      margin: 0 10px;
      font-size: 12px;
      cursor: pointer;
    }
  }
  .body {
    flex: 1;
    height: 100vh;
    padding: 2px;
    position: relative;
    .inputTitle {
      position: absolute;
      top: 65px;
      left: 0;
      padding-left: 40px;
    }
    .inputTitle {
      z-index: 0;
    }
    input {
      border: none;
      outline: none;
      font-size: 30px;
      width: 30rem;
    }
  }
}
